.root {
    width: 100px;
    height: 100px;
    background: none;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-family: 'Inspiration', cursive;
    border-radius: 50%;
}

.zero {
    color: #3dbcd9;
}

.cross {
    color: #dc5aa9;
}

.win {
    font-size: 100px;
    text-decoration: line-through;
}