.root {
    height: 100%;
    position: relative;
    min-height: 600px;
    min-width: 370px;
}

.buttonGroup {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}