[data-theme="dark"] {
  --primary: #0B0C10;
  --secondary: #fff;
  --board: url(../public/board-wt.png);
  --switch: url(../public/moon.png);
  --cell-zero: #3dbcd9;
  --cell-cross: #dc5aa9;
}

[data-theme="light"] {
  --primary: #fff;
  --secondary: #0B0C10;
  --board: url(../public/board.png);
  --switch: url(../public/sun.png);
  --cell-zero: #00d0ff;
  --cell-cross: #ff0099;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 25px;
  font-family: 'Anton', sans-serif;
  background: var(--primary);
  color: var(--secondary);
}

#root {
  height: 100vh;
  width: 100vw;
}