.root {
    padding: 15px;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid var(--secondary);
    color: var(--primary);
    background-color: var(--secondary);

}

.root:active {
    opacity: 0.4;
}